.icon-size{
    font-size: 2rem;
}

.icon-size:hover{
    color: #fafafa;
}

hr{
    border-top: 3px solid;
    color: #645a5a;
}

.txt{
    text-align: left;
    padding: 0px !important;
    margin: 0px 0px 0px 20px !important;
}

.bg-naty{
    background-color: #F9CDD4 !important;
}

.txt-naty{
   color: #1B0907;
}

.txt-naty-2{
    color: #1B0907;
    font-size: 20px;
 }

.box-skills{
    background: #FAFAFA;
    box-shadow: 0px 5px 20px rgba(245, 170, 182, 0.6);
    border-radius: 24px;
    height: 100%;
        @media(min-width: 0px) and (max-width:676px)  
            {
               margin-bottom: 20px;
               margin-left: 20px;
               margin-right: 20px;
            };
    
}

.txt-herremientas{
    text-align: center;
    width: 100%;
    font-size: 14px;
    text-decoration: underline;
}

.txt-herremientas-2{
    text-align: left;
    font-size: 14px;
    @media(min-width: 676px) and (max-width:1024px)  
        {
            font-size:10px!important;
        };
}

.colxs{

    @media(min-width: 0px) and (max-width:676px)  
        {
           width: 50%!important;
        };
}

.link-otros{
    text-decoration: none;
    font-size: 18px;
    color: #1B0907;
    text-align: left;
    padding: 0px !important;
    margin: 0px 0px 0px 20px !important;
}

.link-otros:hover{
    text-decoration: underline;
    font-size: 24px;
    color: #fafafa;
}

li:link, li:visited, li:active li:hover{
	text-decoration: none !important;
	list-style-type: none !important;
}

.ul-datos {
    list-style: none;
  }
  